.app{
  height:100vh;
  width:  100vw;
  background-color:rgb(250, 250, 250) ;
  display: grid;
  place-items: center;
}

.app__container{
  height:400px;
  width: 500px;
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color:rgb(220, 177, 255) ;
  border-radius: 12px;
  padding: 32px 0;

  }
.app__todoContainer{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


}